---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <div class="profile-header">
      <figure></figure>
      <h1>Hello!, im Dimas Januardi!</h1>
      <p>learning web developer since 2022</p>
    </div>

    <div class="profile-about">
      <div class="summary">
        <p>
          A web developer based in Pinrang, South Sulawesi. I have a passion for
          creating user-friendly websites that help businesses achieve their
          goals.
        </p>
      </div>

      <div class="skills">
        <ul>
          <Card
            href="https://docs.astro.build/"
            title="Html"
            body="Always you see!"
          />

          <Card
            href="https://docs.astro.build/"
            title="CSS"
            body="CSS is beautiful woman you married!"
          />

          <Card
            href="https://docs.astro.build/"
            title="JavaScript"
            body="since i start learning, javascript is beast! i understand most of javascript tech."
          />
          <Card
            href="https://docs.astro.build/"
            title="API development"
            body="Api is wonderfull, i can make http request and receive it."
          />
          <Card
            href="https://docs.astro.build/"
            title="Video Editor"
            body="in can create video like,vlog ,music lyric, comercial product promotion, trailler, and basic short movie."
          />
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin-top: 1.7rem;
    color: rgba(var(--accent-color), 1);
  }
  .profile-header {
    color: rgba(var(--accent-color), 0.5);
  }
  .profile-about > div {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .profile-about .summary p {
    line-height: 2rem;
  }

  .profile-about .skills ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-about .skills h3 {
    font-size: 2.1rem;
  }
  .profile-about .skills ul {
    list-style-type: none;
  }
</style>
