---
import Card from "../components/Card.astro";
import CardItem from "../components/CardItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="container">
    <div class="profile-header">
      <figure></figure>
      <h1>Hello!, im Dimas Januardi!</h1>
      <p class="details">learning web developer since 2022</p>
    </div>

    <div class="profile-about">
      <div class="description">
        <p>
          A <strong>front end web developer, video editor, photo editor</strong>
          based in Pinrang, South Sulawesi. I have a passion for creating user-friendly
          websites that help businesses achieve their goals.
        </p>
        <p>
          I can work with anyone, but it was <strong>very slow</strong> when I first
          started the <strong>relationship</strong>.I'm a <strong
            >fast learner</strong
          >. I love creating algorithms, keeping them <strong
            >simple and easy</strong
          > to read.
        </p>
        <p>
          What makes me confident is, <strong>I am me not them</strong>, I like
          to hear their opinion but don't <strong>accept</strong> something as a
          whole without<strong> thinking</strong> about it first, I can ponder their
          opinion for days, so that with that I can find the <strong
            >best solution</strong
          > and work towards it, <strong>Thats Me.</strong>
        </p>
      </div>

      <div class="container">
        <h2>Skills</h2>
        <ul class="cards">
          <Card title="Main Language">
            <CardItem title="HTML 5" rate="advance" />
            <CardItem title="CSS" rate="advance" />
            <CardItem title="JAVASCRIPT" rate="intermediate" />
            <CardItem title="TYPESCRIPT" rate="beginner" />
          </Card>
          <Card title="Framework Or Library">
            <CardItem title="NextJS" rate="intermediate" />
            <CardItem title="ReactJS" rate="intermediate" />
            <CardItem title="ExpressJS" rate="beginner" />
            <CardItem title="TailwindCSS" rate="intermediate" />
            <CardItem title="Astro" rate="beginner" />
          </Card>
          <Card title="Other">
            <CardItem title="API" rate="beginner" />
            <CardItem title="UI Design" rate="intermediate" />
            <CardItem title="Compositing" rate="intermediate" />
            <CardItem title="Video Editing" rate="intermediate" />
            <CardItem title="Photo Editing" rate="intermediate" />
          </Card>
          <Card title="Apps">
            <CardItem title="After Effect" rate="intermediate" />
            <CardItem title="Premiere Pro" rate="beginner" />
            <CardItem title="Davinci Resolve" rate="beginner" />
            <CardItem title="Photoshop" rate="intermediate" />
            <CardItem title="CorelDraw" rate="intermediate" />
            <CardItem title="Figma" rate="beginner" />
            <CardItem title="Git" rate="intermediate" />
            <CardItem title="Postman" rate="intermediate" />
          </Card>
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin-top: 1.7rem;
    color: rgba(var(--accent-color), 1);
  }

  .profile-header {
    color: rgba(var(--text-clr-theme), 0.5);
  }
  .profile-about strong {
    color: rgba(var(--text-clr-theme), 1);
  }
  .profile-header .details::before {
    content: "- ";
  }
  .profile-about > :has(div, footer) {
    margin-top: 4rem;
  }

  .profile-about .description p {
    line-height: clamp(1.5rem, 10vw, 2rem);
    margin-top: 1rem;
    font-weight: var(--fnw-medium);
    font-size: clamp(1.1rem, 6vw, 1.4rem);
    color: rgba(var(--text-clr-theme), 0.7);
    text-indent: 0.5rem;
  }
  .profile-about ul {
    list-style: none;
  }
  .container {
    margin-block-start: var(--mt);
  }
  .profile-about {
    margin-top: 3rem;
  }
</style>
