---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="brand"><a href="/">{title}</a></div>
<style>
  a {
    font-size: inherit;
    text-align: inherit;
    font-weight: bold;
    text-decoration: none;
    color: rgba(var(--base-dark), 0.7) !important;
  }
  @media (prefers-color-scheme: dark) {
    a {
      color: rgba(var(--text-clr-theme), 0.7) !important;
    }
  }
  a:is(:hover, :target, :focus) {
    outline: transparent;
    color: rgba(var(--accent-color), 1) !important;
  }
</style>
