---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<li>
  <a href="#">
    <slot />
    <span>{title}</span>
  </a>
</li>
<style>
  li a {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
  }
  a {
    color: inherit;
  }
</style>
