---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<li class="card">
  <span class="title">{title}</span>
  <ul class="card-items">
    <slot />
  </ul>
</li>
<style>
  .card span.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(var(--accent-color), 0.7);
    display: block;
    margin-bottom: 0.7rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .card {
    margin-top: 1rem;
  }
</style>
