---
export interface Props {
  title: string;
  body?: string;
  rate?: string;
}

const { title, body, rate = "beginner" } = Astro.props;
---

<li class="card">
  <label>{title}</label>
  <div data-rate={rate}>
    <p>{rate}</p>
  </div>
</li>
<style>
  .card {
    padding: 1rem;
    font-size: 1.2rem;
    min-width: 200px;
    flex: 1;
    border: 1px solid rgb(var(--accent-color));

    border-radius: 0.4rem;
    box-shadow: 3px 3px 0 0 rgba(var(--accent-color), 0.4);
    background-image: var(--gradient-transparent);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 150%;
    transition: all 250ms var(--main-bezier);
  }
  label {
    font-weight: var(--fnw-bold);
  }

  @media only screen and (min-width: 600px) {
    .card {
      max-width: 250px;
    }
  }
  .card:is(:hover, :focus, :target) {
    background-position: 20%;
    font-weight: 600;
    color: rgb(var(--base-color));
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }
  li:hover p {
    color: rgba(var(--base-color), 0.7) !important;
  }
  div[data-rate="beginner"] p {
    color: rgba(var(--secondary-color), 0.4);
  }
  div[data-rate="intermediate"] p {
    color: rgba(var(--accent-color), 0.8);
  }
  div[data-rate="advance"] p {
    color: rgba(var(--secondary-color), 1);
  }

  @media (prefers-color-scheme: dark) {
    li p {
      color: rgb(var(--text-clr-theme), 0.7) !important;
    }
    label {
      color: rgb(var(--text-clr-theme), 1) !important;
    }
  }
</style>
