---
export interface Props {
  mobile?: boolean;
}
const { mobile } = Astro.props;
---

{
  mobile ? (
    <nav>
      <a href="/home">Home</a>
      <a href="/posts">Posts</a>
      <a href="/blog">Blog</a>
    </nav>
  ) : (
    <nav class="mobile">
      <a href="/home">Home</a>
      <a href="/posts">Posts</a>
      <a href="/blog">Blog</a>
    </nav>
  )
}

<style>
  nav {
    display: none;
    gap: 0.5rem;
  }
  nav.mobile {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    display: flex;
  }
  nav.mobile a {
    box-shadow: 1px 4px 4px rgba(var(--accent-color), 0.3);
    /* color: white; */
    background-color: rgba(var(--accent-color), 0.1);
  }
  nav.mobile a:is(:hover, :focus, :target) {
    box-shadow: 1px 5px 10px rgba(var(--accent-color), 0.5);
  }
  a {
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.2rem;
    background-image: var(--gradient-transparent);
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 110%;
    transition: all 200ms;
    font-weight: 500;
    color: rgba(var(--accent-color), 1);
  }
  a:is(:hover, :focus, :target) {
    color: white;
    background-size: 200%;
    background-position: 0%;
    border: 0;
    outline: transparent;
  }
  @media only screen and (min-width: 600px) {
    nav {
      display: flex;
    }
    nav.mobile {
      display: none;
    }
  }
</style>
