---
import Navigation from "../components/Navigation.astro";
import Brand from "../components/Brand.astro";
---

<div>
  <Brand title="YeagDev" />
  <Navigation mobile={true} />
</div>
<style>
  div {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding-inline: min(10%, 4rem);
    padding-block: 2rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
  }
</style>
